/* Small screen's Style*/
body {
    background-color: #13201a;
    color: #f1faee;
    font-family: Arial, sans-serif;
  }
  
  a {
    color: #ff4747; /* link color*/
  }
  
  header {
    background-image: url("../images/LogoSmall.png");
    background-color: #f4d35e;
    color: #000000;
    min-height: 50px;
    background-position: right top;
    background-repeat: no-repeat;
    margin-bottom: 5px;
  }
  
  main {
    background-color: #77b6ae;
    color: #000000; 
  }
  .supercat {
    object-fit: cover;
    width: 100%;
    height: 80px;
  }
  
  aside {
    background-color: #f15e08;
    color: #ffffff;
    padding: 10px;
    border: 2px solid #13201a;
    font-family: Arial, sans-serif;
  }
  
  .cat-image {
    width: 80px;
    height: 80px;
    border-radius: 10px;
  }
  
  figure figcaption {
    text-align: center;
    font-weight: bold;
  }
  
  figure {
    margin: 20px;
    text-align: center;
  }
  
  .menu-heading {
    font-family: cursive;
    text-align: center;
    font-size: 50px;
  }
  
  .allergy-info {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #b80000;
    clear: left; /* clear left use to make sure warning side stay under <aside> and the Menu */
  }
  
  .menu-background {
    background-image: url("../images/menu_pic.jpg");
    background-color: #cccccc;
    width: 80%;
    margin: 5px;
    padding: 10px;
    float: left;
  }
  
  .YourHosts-page-gallery {
    background-color: #f15e08;
    border-radius: 10px;
    width: 90%;
  }
  
  nav {
    background-color: #333;
    padding: 5px;
    text-align: center;
  }
  
  /* Default style for all links inside the nav tag */
  nav a {
    text-decoration: none;
    color: rgba(250, 250, 250, 0.527); 
    padding: 5px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 5px;
    text-align: center;
  }
  
  /* Style for hovered links */
  nav a:hover {
    color: #f39c12; 
    font-size: 30px; 
    transition: all 0.3s ease;
    background-color: yellow;
    display: ruby-base-container;
  }
  
  /* Style for visited links */
  nav a:visited {
    color: #ab06f1;
  }
  
  /* Style for active links (clicked) */
  nav a:active {
    color: #f0220b; 
  }
  
  ul {
    list-style-type: none; /* DELETTED the listing bulet*/
  }
  
  li {
    display: inline; /* use to keet nav tag inline*/
  }
  
  .greeting {
    border-radius: 25px;
    background: peru;
    margin: 5px;
    padding: 10px; 
    height: auto;  
    width: auto;
    float: left; /* I spent more than 1 hour just trying to figure it out how to get the extra credit*/
  }   /* the answer is right here (FLOAT: LEFT) ^_^ */
  
  
  /*Large Screen's style*/
  @media screen and (min-width: 750px) {
    
  /*nav tag and design*/
    .row {
      display: flex;
    }
    .column-left,
    .column-right {
      display: inline-block;
    }
    .column-left {
      width: 20%;
    }
    .column-right {
      width: 80%;
    }
  
    /*Greeting and menu backgound design*/
    .row2 {
        display: flex;
        float: left;
        margin: 50px;
        box-sizing: border-box;
      }
      .column-left2,
      .column-right2 {
        display: inline-table;
      }
      .column-left2 {
        width: 30%;
      }
      .column-right2 {
        width: 70%;
      }

    nav a {
        text-decoration: none;
        color: rgba(250, 250, 250, 0.527); 
        padding: 10px 20px;
        font-size: 22px;
        font-family: Arial, sans-serif;
        background-color: lightblue;
        font-size: 13px;
        margin: 10px;
        display: block;
        text-align: center;
      }
  
    li {
      display: block;
    }
  /*BODY  and design*/
    body {
      background-color: #c3dfda;
      color: #b80000; /* Body text color */
    }
    a {
      color: #000000; /* Link color text*/
    }
    header {
      font-family: Georgia, "Times New Roman", serif;
      background-color: #f4d35e;
      color: #000000; /* Text color*/
      background-image: url("../images/LogoLarge.png");
      min-height: 100px;
    }
    .supercat {
      height: 180px;
    }
    .cat-image {
      width: 150px;
      height: 150px;
    }
    figure figcaption {
      text-align: center;
      font-weight: bold;
    }
  }
  