@charset "utf-8";
body {
    background-image: url(../images/Blog_Background-pic.jpg); /* Dreamweaver automatically set the correct path to the image, which saved me time fixing file path errors. */
    background-size: cover;
    background-attachment: fixed;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    border-radius: 20px;
}
h1 {
    font-family: "Kristen ITC", "Juice ITC", "High Tower Text", "Informal Roman", "Old English Text MT"; /* I don't have to look for font style online, many options are in DW that I can just pick, save me a lot of time*/
    font-size: 3.6em;
    font-weight: 900; 
    font-style: oblique;
    text-align: center; /* Dreamweaver’s live preview lets me see font size and style changes immediately, saving me time in trial and error. */
}

h2 {
    font-style: italic;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 2em;
    color: #170908;
}
body nav a {
}

section {
    background-color: #6DFFCB;
    width: 40%;
    margin-left: 1%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
    float: right;
    border-radius: 25px;
}
aside {
    width: 50%;
    float: left; /* Floating is absolutely better with DW more than coding by hand.*/
}
body footer {
    bottom: 0px;
    clear: both;
    width: 100%;
    text-align: center;
    position: fixed;
    height: 60px;
    background-image: linear-gradient(270deg, rgb(220, 182, 183) 1.55%, rgb(112, 5, 5) 100%);
    padding-top: 10px; /* Picking and applying gradients in Dreamweaver is very intuitive, helping me visually test different options before finalizing. */
}
header {
    text-align: center;
    margin-top: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    margin-left: 80px;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    color: #F80004;
    font-size: xx-large;
    font-weight: 900;
    font-style: oblique;
    font-family: "Arial Narrow", "Arial Rounded MT Bold";
}
.navbar-nav.mr-auto .nav-item .nav-link {
	font-size: 18px;
	font-weight: bolder;
	
}

.navbar-nav.mr-auto .nav-item .nav-link:hover {
	color: red;
	
}
@media (max-width: 700px){
section {
    background-color: #6DFFCB;
    width: 90%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    float: none;
    border-radius: 25px;
	/* Dreamweaver makes testing responsiveness easier with its built-in view switcher for different screen sizes. */
}
aside {
    width: 100%;
    float: none;
    font-size: 0.6em;
}	
}

@media (max-height:680px){
section {
    background-color: #F1F18E;
}
}
