@charset "utf-8";
body {
    background-color: #CF0A0D;
    background-image: url(../images/Blog_Background-pic.jpg);
}
body p {
    color: #020000;
    background-color: #70E5D5;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
body h3 {
    font-style: oblique;
    font-family: "Sitka Heading";
    font-weight: 900;
    font-size: 3em;
}
body nav a {
    color: #000000;
    font-style: italic;
}
